* {
    box-sizing: border-box;   
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backList a{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    line-height: 1.25rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}



.layout button {
    margin-top: 2rem;
    width: 200px;
    height: 32px;


    color: white;
    font-size: 18px;
    font-weight: bold;

    border-radius: 12px;
    border: none;
    background-color: rgb(109, 131, 66);
    transition: all 0.3s;
}

.layout button:hover {
    filter: brightness(1.2);
}