.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "section-1 section-2"
    "section-3 ."
    ". .";
}

.section-1 { grid-area: section-1; }

.section-2 { grid-area: section-2; }

.section-3 { grid-area: section-3; }
